{% extends 'base.html' %} 

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<h1>{{ product.title }}</h1>
<p>Category: {{ product.category.name }}</p>
<p>Description: {{ product.description }}</p>
<p>Price: ${{ product.price }}</p>
<p>Status: {{ product.status }}</p>
{% if product.video %}
    <video width="500" height="400" controls>
        <source src="{{ product.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
{% else %}
    
 {% endif %}
<p>Created By: {{ product.created_by }}</p> 
<p>Updated By: {{ product.updated_by }}</p>
<a href="{% url 'products:product_list' %}">Back to Product List</a>
{% endblock %}


