{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Store{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'users:home' %}">Home</a>
        <a href="{% url 'products:product_list' %}">Products</a>
        <a href="{% url 'category:category_list' %}">Categories</a>
        {% if user.is_authenticated %}
        <form action="{% url 'users:logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
            <a href="{% url 'users:login' %}">Login</a>
            <a href="{% url 'users:register' %}">Register</a>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
