{% extends 'base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
<h1>Categories</h1>
{% if user.role == 1 or user.role == 2 %}
    <a href="{% url 'category:category_create' %}">Create Category</a>
{% endif %}
<ul>
    {% for category in categories %}
        <li>
            {{ category.name }}
            {% if user.role == 1 %}
                <a href="{% url 'category:category_update' category.id %}">Edit</a>
                <a href="{% url 'category:category_delete' category.id %}">Delete</a>
            {% elif user.role == 2 %}
                <a href="{% url 'category:category_update' category.id %}">Edit</a>
                
            {% endif %}
        </li>
    {% empty %}
        <li>No categories available.</li>
    {% endfor %}
</ul>
{% endblock %}


